.container-listlearn{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
  90deg,
  hsl(188deg 100% 38%) 4%,
  hsl(194deg 44% 80%) 50%,
  hsl(0deg 0% 100%) 87%
);
}

.title{
    margin: 50px;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    text-align:center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.signo{
    font-size: 10rem;
}

.lista {
    list-style: none;
    padding: 0;
   
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px;
  }
  
  .flip-card {
    width: 100%;
    height: 20rem;
    perspective: 500px;
  }
  
  .flip-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  .lista li:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; 
    border: solid 1px black;
    border-radius: 15px;
  }
  
  .flip-card-front {
    background-color: #00a5c0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .flip-card-back {
    background-color: #00679a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    border: solid 5px white;
    padding: 15px;
    font-size: 1.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }


  @media (min-width: 100px) and (max-width: 680px) {
    .container-listlearn{
        display: contents;
        background-color: #e6d6d1;
    }
    .title{
        color: black;
        font-size: 2rem;
    }
    .container-listlearn{
       display:contents;
       object-fit: fill;
    }
    .flip-card-front,
    .flip-card-back {
      height: 100%;

    }
    .lista{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        border-radius: 15px;
        border: solid 5px black;
    }
    .flip-card-back {
      font-size: 1.5rem;
    }
}