.main-container-video{
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background-color:white;

}

.video-title{
    margin-top: 15px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 3rem;
    color: rgb(0, 0, 0);
}

.container-video{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-video{
    border-radius: 26% 74% 98% 2% / 55% 56% 44% 45%;
    width: 30%;
    height: 30%;
    margin-bottom: 50px;
    margin: 15px;
    overflow:hidden;
}

.video-video{
    border-radius: 15px;
    width: 16.8%;
    margin-bottom: 100px;
}


.img-video:hover{
    -webkit-transform:scale(1.3);transform:scale(0.9);
    border-radius: 15px 0px 15px 0px;
}

@media (min-width: 100px) and (max-width: 680px) {
    .main-container-video{
        display:contents;
    }
    .container-video{
        display: contents;
    }
    .img-video{
        border-radius: 15px;
        width: 95%;

    }

    .video-video{
        border-radius: 15px;
        width: 100%;
        margin-bottom: 0px;
    }

    .video-title{
        margin-top: 150px;
        color: black;
        font-size: 2rem;
    }  
}